<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tantan.mapper.StudentMapper">
  <resultMap id="BaseResultMap" type="cn.tantan.bean.Student">
    <id column="s_id" jdbcType="INTEGER" property="sId" />
    <result column="s_name" jdbcType="VARCHAR" property="sName" />
    <result column="s_birth" jdbcType="VARCHAR" property="sBirth" />
    <result column="s_sex" jdbcType="VARCHAR" property="sSex" />
  </resultMap>
  <sql id="Base_Column_List">
    s_id, s_name, s_birth, s_sex
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where s_id = #{sId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where s_id = #{sId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.tantan.bean.Student">
    insert into student (s_id, s_name, s_birth, 
      s_sex)
    values (#{sId,jdbcType=INTEGER}, #{sName,jdbcType=VARCHAR}, #{sBirth,jdbcType=VARCHAR}, 
      #{sSex,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.tantan.bean.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sId != null">
        s_id,
      </if>
      <if test="sName != null">
        s_name,
      </if>
      <if test="sBirth != null">
        s_birth,
      </if>
      <if test="sSex != null">
        s_sex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sId != null">
        #{sId,jdbcType=INTEGER},
      </if>
      <if test="sName != null">
        #{sName,jdbcType=VARCHAR},
      </if>
      <if test="sBirth != null">
        #{sBirth,jdbcType=VARCHAR},
      </if>
      <if test="sSex != null">
        #{sSex,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.tantan.bean.Student">
    update student
    <set>
      <if test="sName != null">
        s_name = #{sName,jdbcType=VARCHAR},
      </if>
      <if test="sBirth != null">
        s_birth = #{sBirth,jdbcType=VARCHAR},
      </if>
      <if test="sSex != null">
        s_sex = #{sSex,jdbcType=VARCHAR},
      </if>
    </set>
    where s_id = #{sId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.tantan.bean.Student">
    update student
    set s_name = #{sName,jdbcType=VARCHAR},
      s_birth = #{sBirth,jdbcType=VARCHAR},
      s_sex = #{sSex,jdbcType=VARCHAR}
    where s_id = #{sId,jdbcType=INTEGER}
  </update>

  <select id="pageStudent" parameterType="cn.tantan.bean.Student" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from student

  </select>
</mapper>